.common-title{
  height: 3.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.common-title div{
  /* flex: 0 0 90%;
  width: 90%; */
  font-size: 22px;
  line-height: 20px;
  font-weight: 600;
}
.common-title i{
  font-style: normal;
  color: #4ACC81;
}
.common-title:after{
  content: '';
  display: block;
  width: 100%;
  height: 1vh;
  background-image: url('../img/title-bottom.png');
  background-size: 100% 100%;
}
.common-title2:after{
  background-image: url('../img/title-bottom2.png');
}
.common-echarts-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.common-echarts-box{
  flex: 0 0 46%;
  width: 46%;
  overflow: hidden;
}
.common-tab{
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.common-tab span{
  display: inline-block;
  height: 2.2vh;
  line-height: 2.2vh;
  width: 21%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/common-tab0.png');
  background-size: 100% 100%;
}
.common-tab .active{
  background-image: url('../img/common-tab1.png');
}
.common-table{
  width: 100%;
}
.table-head{
  font-size: 18px;
  font-weight: 600;
  line-height: 4vh;
}
.table-body{
  overflow-y: scroll;
}
.table-body p{
  line-height: 3vh;
}
.table-body p:nth-child(odd){
  background: rgba(113, 168, 136, 0.3);
}
.table-head, .table-body p{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.table-head span, .table-body p span{
  color: #c3edd7;
}
.common-echarts-title{
  height: 3vh;
  line-height: 3vh;
  font-weight: 600;
  color: #c3edd7;
  font-size: 16px;
}
.echarts-with-title{
  height: calc( 100% - 3vh )!important;
}
.common-number-wrapper{
  height: calc( 100% - 3vh );
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.common-number-box{
  flex: 0 0 40%;
  width: 40%;
  margin-right: 10%;
  height: 40%;
  background-image: url('../../assets/img/bg-number.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5vw;
}
.controller{
  display: flex;
  height: 5vh;
  align-items: center;
}
/* 弹框 */
.popup-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.3);
  z-index: 3;
}
.popup-wrapper{
  background: rgba(23, 30, 27, 1);
}
.popup-top{
  width: 100%;
  height: 2.5vh;
  background: rgba(74,204,129,.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.4vw;
}
.popup-close{
  font-size: 24px;
  line-height: 24px;
}
@media screen and (max-width: 1920px) {
  .common-title div{
    font-size: 16px;
  }
  .common-title i{
    font-size: 14px;
  }
  .common-tab span{
    font-size: 12px;
  }
  .common-echarts-title{
    font-size: 14px;
  }
  .table-head{
    font-size: 14px;
  }
}