.common-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.common-box{
  width: 100%;
  padding: 2.037vh;
  background: rgba(0,0,0,.35);
}
.common-box-bottom{
  margin-bottom: 1.94444vh;
}
.common-title{
  height: 3.8888889vh;
  margin-bottom: 0.463vh;
}
.common-title img{
  height: 100%;
  vertical-align: bottom;
}
.common-table{
  width: 100%;
}
.table-head{
  height: 6.48vh;
  line-height: 6.48vh;
}
.table-body{
  overflow-y: scroll;
}
.table-body p{
  height: 4.44444vh;
  line-height: 4.44444vh;
  font-size: 1.4815vh;
}
.table-body p:nth-child(odd){
  background: rgba(89, 190, 135, .15);
}
.table-head, .table-body p{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.common-echarts-box{
  width: 100%;
  height: 15vh;
}

/* 字体 */
@font-face{
  font-family:myFont;
  src:url('../font/Khand-Regular.ttf');
}
.num{
  font-family: myFont;
}

.el-date-table td.next-month span, .el-date-table td.prev-month span{
  color: #999!important;
}
.el-date-table td.available span{
  color: #111!important;
}
 